 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('bg.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
		
header {
	
	margin-left: 35px;
	font-size: 300%;
	
}

h1 {
	
	text-align: left;
	font-family: Arial;
	color: #fff;
	
}

h3 {
	
	font-family: Arial;
	
}

p{
	
	font-family: sans-serif;
	color: #fff;
	
}

nav {
	
	font-family: Arial, sans-serif;
	border-radius: 3px;
	text-align:left;
	margin-bottom: 30px;
	margin-left: 35px;
	overflow: hidden;
	
}

nav a {
	
	font-size: 20px;
	color: white;
	display: inline-block;
	padding: 15px 20px;
	transition: 1.0s;
	text-decoration: none;
	
}

nav a:hover {
	
	background-color: #fff;
	border-radius:3px;
	
	color: black;
	transform:scale(1);
	
}
.PART1{
	
    background: rgba(255,255,255, 0.3);
	color: white;
	width: 80%;
    padding: 20px;
	border-radius: 7px;
	
    margin: 0px 0px 15px 0px;
	margin-left: 35px;
	margin-bottom: 35px;
	
}

.PART2{
	
    background: rgba(255,255,255, 0.3);
	color: white;
	width: 80%;
    padding: 20px;
	border-radius: 7px;
	
    margin: 0px 0px 15px 0px;
	margin-left: 35px;
	margin-bottom: 35px;
	
}


.PART3{
	
    background: rgba(255,255,255, 0.3);
	color: white;
	width: 80%;
	padding: 20px;
	border-radius: 7px;
	
    margin: 0px 0px 15px 0px;
	margin-left: 35px;
    	
}

.slider {
	
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
	
}

.slides {
	
    width: 500%;
    height: 500px;
    display: flex;
	
}

.slides input{
	
    display:none;

}

.slide{
	
    width: 20%;
    transition: 2s;

}

.slide img{
   	
    width: 500px;
    height: 500px;

}

.navigation-manual {
	
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
	
}

.manual-btn {
	
    border: 2px solid #301014;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
	
}

.manual-btn:not(:last-child) {
	
    margin-right: 40px;
	
}

.manual-btn:hover{
	
background:#301014;

}

#radio1:checked~.first{
	
margin-left:0;

}

#radio2:checked~.first{
	
margin-left:-20%;

}	

#radio3:checked~.first{
	
margin-left:-40%;

}

#radio4:checked~.first{
	
margin-left:-60%;

}

.navigation-auto{
	
position:absolute;
display:flex;
width: 800px;
justify-content: center;
margin-top: 460px;

}

.navigation-auto div{
	
border: 2px solid black;
padding: 5px;
border-radius: 10px;
transition: 1s;

}

.navigation-auto div:not(:last-child){
	
margin-right: 40px;

}

#radio1:checked~.navigation-auto .auto-btn1{
	
background: white;

}

#radio2:checked~.navigation-auto .auto-btn2{
	
background: white;

}

#radio3:checked~.navigation-auto .auto-btn3{
	
background: white;

}

#radio4:checked~.navigation-auto .auto-btn4{
	
background: white;

}

footer {
	
	text-align: left;
    margin: 0px 0px 15px 0px;
	margin-left: 35px;
	padding: 20px;
	
}
